<div class="user-list-item" style="font-weight: bold; padding-bottom: 15px; border-bottom: 1px solid #eee;">
    <span class="col-checkbox"></span>
    <span class="item-name col-nom">{{t.nom}}</span>
    <span class="user-role-text col-email">{{t.mail}}</span>
    <span class="user-role-text col-role">{{t.role}}</span>
    <div class="item-actions"></div>
</div>

{% for u in users %}
<div class="user-list-item">
    <input type="checkbox" class="custom-round-checkbox col-checkbox">
    <span class="item-name col-nom">{{u.username}}</span>
    <span class="user-role-text col-email" title="{{u.mail}}">{{u.mail}}</span>
    <span class="user-role-text col-role">{{u.role}}</span>
    <div class="item-actions">
        <span class="icon"><img src="{{ url_for('static', filename='img/modif.png') }}" alt="Edit" class="modif-img" onclick="openUserModal('{{u.username}}', '{{u.mail}}')"></span>
        <span class="icon"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete" class="delete-img" onclick="openDeleteModal('{{u.username}}')"></span>
    </div>
</div>
{% else %}
<div style="padding: 20px; text-align: center; color: #666; font-style: italic;">
    {{t.aucun_user}}
</div>
{% endfor %}