<div class="user-list-item" style="font-weight: bold; padding-bottom: 15px; border-bottom: 1px solid #eee;">
    <span class="col-checkbox"></span>
    <span class="item-name col-nom">Nom</span>
    <span class="item-name col-email">Ip</span>
    <span class="user-role-text col-role">État</span>
    <div class="item-actions"></div>
</div>

{% for r in raspberry %}
<div class="user-list-item">
    <input type="checkbox" class="custom-round-checkbox col-checkbox">
    <span class="item-name col-nom">{{ r.nom }}</span>
    <span class="item-name col-email">{{ r.ipRasp }}</span>
    <span class="user-role-text col-role">Actif</span> <div class="item-actions">
        <span class="icon"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="Delete" class="delete-img"></span>
    </div>
</div>
{% else %}
<div style="padding: 20px; text-align: center; color: #666; font-style: italic;">
    Aucune Raspberry trouvée.
</div>
{% endfor %}