<html>
    <head>
        <meta charset="utf-8">
        <title>Site</title>
        <link rel="icon" href="../static/logo.png" type="image/png">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='style_accueil.css') }}" rel="stylesheet">
    </head>
    <body> <!-- ajout class sombre ici -->
        <div class="nav">
            
            <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/><p>Musi-quali</p></div>
            <div class="b">
                <div class="page" id="signin" style="background-color: #1fe0; border-color: white !important;" onclick="window.location.href='{{ url_for('signin') }}';">S'inscrire</div>
                <div class="page" id="login" onclick="window.location.href='{{ url_for('login') }}';">{{t.login}}</div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="h1">
            <h1>{{ t.titre }}</h1>
        </div>
        <div class="presentation">
            <p>{{ t.desc_1 }}</p>
            <br>
            <h3>{{ t.desc_2 }}</h3>
        </div>

        <div class="equipe">
            <p>{{ t.equipe_intro }}</p>
            <p>{{ t.equipe_liste }}</p>
                <ul>
                    <li>Darragh BOYLAN</li>
                    <li>Djibril CHEBLAL</li>
                    <li>Lucas HOARAU</li>
                    <li>Ambrine MASTOURI</li>
                    <li>Arthur SHISHKOVSKIY-RYSCHENKOW</li>
                    <li>Anas TALBI</li>
                </ul>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        

    </body>
</html>