<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{t.new_mdp}}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style_accueil.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='message_alert.css') }}" rel="stylesheet">
</head>
<body style="background-color: #f9f9f9;">
    <div class="nav">
        <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/><p>Musiquali</p></div>
        <div class="b">
            <div class="page" id="signin" onclick="window.location.href='{{ url_for('signin') }}';">{{t.signin}}</div>
            <div class="page" id="index" onclick="window.location.href='{{ url_for('index') }}';">{{t.retour}}</div>
        </div>
    </div>
    {% include 'messages_alert.html' %}

    <div style="display: flex; justify-content: center; align-items: center; min-height: 80vh; padding: 20px;">
        <div style="background-color: #ffffff; width: 100%; max-width: 450px; padding: 40px; border-radius: 20px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);">
            <h2 style="color: #651b1b; text-align: center; margin-bottom: 25px; font-weight: normal;">{{t.new_mdp}}</h2>
            
            <form action="{{ url_for('reset_password', token=token) }}" method="POST">
                <div style="margin-bottom: 20px;">
                    <label style="display: block; font-size: 14px; margin-bottom: 8px; color: #651b1b;">{{t.saisir}}</label>
                    <input type="password" name="password" required style="width: 100%; padding: 12px; border: 1px solid #5d1b1b5a; border-radius: 6px; font-size: 14px; outline: none; box-sizing: border-box;">
                </div>
                <div style="margin-bottom: 25px;">
                    <label style="display: block; font-size: 14px; margin-bottom: 8px; color: #651b1b;">{{t.confirm}}</label>
                    <input type="password" name="confirm_password" required style="width: 100%; padding: 12px; border: 1px solid #5d1b1b5a; border-radius: 6px; font-size: 14px; outline: none; box-sizing: border-box;">
                </div>
                <button type="submit" style="width: 100%; background-color: #CE5956; color: white; border: none; padding: 14px; font-size: 16px; border-radius: 25px; cursor: pointer;">
                    {{t.maj}}
                </button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='message_alert.js') }}"></script>
</body>
</html>