.h1 {
    display: flex; flex-direction: column; align-items: center;
    text-align: center; justify-content: center; height: 50vh;
    position: relative; z-index: 1;
}

.presentation, .equipe {
    display: flex; flex-direction: column;
    margin: 20px 50px; color: black; background-color: #efffff;
    border-radius: 15px; border: 1px solid #0f2a91;
    padding: 10px; opacity: 0.8; font-size: 20px;
}
.presentation { align-items: center; text-align: justify; }
.equipe { align-items: left; }